# Unified logs (generated at runtime)
logs/*.log
logs/*.log.*
logs/*.out

# Hadoop logs
hadoop-logs/*  
hadoop-logs/*.log
hadoop-logs/*.log.*
hadoop-logs/*.out   

# Spark logs
spark-logs/*  
spark-logs/*.log
spark-logs/*.log.*
spark-logs/*.out       

# Jetty logs
jetty-logs/*  
jetty-logs/*.log
jetty-logs/*.log.*
jetty-logs/*.out                

# Cursor
.cursor/

## Python cache
__pycache__/*
tests/__pycache__/*
.pytest_cache/*


## Environment variables

.venv/*
.env

